
/*fuentes*/

* {
    /* background-color: black; */
    /* color:white; */
    /*fuente de texto general */
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: 400; */
    /* font-size:42px; */
    margin: 0;
    padding: 0;
}

.menu_principal li {
    list-style: none;
    display: inline-block;
    /* background-color: gray; */
}

.menu_principal_link {
    text-transform: uppercase;
    display: inline-block;
}

.menu_principal_link_primero {
    color:white;
    background-color: #bf1e2e;
    text-align: center;
    width: 150px;
    height: 20px;
}

.menu_principal_link_siguiente {
    color:white;
    background-color: #666;
    text-align: center;
    width: 150px;
    height: 20px;
}

/*selector de tipo
h1 {
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    background-color: aqua;
    text-align: center;
}
h2 {
    display: inline;
}